#### in our life, there are certain thing we repeat everyday like we cook food everyday, we eat food everyday 
#### lets, incase ur mother give your mother says, fill all the bottles and stack them in fridge, so you will fill bottles and stack them one by one 
#### also in python like i give you a task , to print one by 1 whole numbers upto 100

# Loops in python 

Sometimes a programmer wants to execute a group of statements a certain number of times . This can be done using loops.

## based on this loops are further classified into two categories:
- nfor loop
- while loop
- nested loops 

## for loop 

for loops can iterate over a sequence of iterable objects in python. iterating over a sequence is nothing but iterating over strings, lists, tuples, sets and dictionaries

In [6]:
# LETS SAY I WANT TO PRINT WHOLE NUMBER UPTO 100
# for later
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
# python mein iterable objects, strings , lists etc 

s1 = "shruti" #character

for i in s1:
    print(i)

s
h
r
u
t
i

In [10]:
# nested 

for i in s1:
    print(i)
    if i=='s':
        print("this is s")

s
this is s
h
r
u
t
i

In [11]:
# same in lists 

stud = ["Shruti", "prince", "arshdeep", "Ekam"]

for i in stud:
    print(i)

Shruti
prince
arshdeep
Ekam

In [12]:
# or it could be 

for student in stud:
    print(student)

Shruti
prince
arshdeep
Ekam

In [13]:
# nested 

for student in stud:
    print(student)
    for i in student:
        print(i)

Shruti
S
h
r
u
t
i
prince
p
r
i
n
c
e
arshdeep
a
r
s
h
d
e
e
p
Ekam
E
k
a
m

In [14]:
# tuples, dictionaries, etc 

# for sabse zyada use aata 

# lets i have told you print 100 chars

In [16]:
# will use range 
# RANGE STARTS WITH 0 
# RANGE GOES UPTO N-1

for k in range(5): # by default it will start from zero
    print(k)

0
1
2
3
4

In [17]:
for k in range(5): # by default it will start from zero
    print(k+1)

1
2
3
4
5

In [19]:
for k in range(1,6): # by default it will start from zero
    print(k)

1
2
3
4
5

In [20]:
# RANGE(START:STOP:STEP)
# STEP WILL EMIT SOME VALUES 

# examples write table using this

In [1]:
# while loop

# why it is added in python

In [3]:
i =1
while(i<8):
    print(i)
    i+=1
    
print("loop is terminated")

1
2
3
4
5
6
7
loop is terminated